
/* SETUP */

* {
    margin: 0;
    padding: 0;

    /* VARIABLES */
    --primoRed: rgb(160, 0, 0);
    --pale: rgb(235, 229, 218);
    --pale-dark: rgb(214, 208, 197);
    --notBlack: rgb(51, 40, 35);
    --notGray: rgb(61, 50, 44);
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--notBlack);
}

body {
    background-color: var(--pale);
    scroll-behavior: smooth;
}


/* NAVBAR */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 10rem .6rem 3rem;
    position: fixed;
    background-color: var(--pale);
    width: 100vw;
    z-index: 2;
}

.title {
    font-family: 'Concert One', sans-serif;
    font-size: 6.8rem;
    color: var(--primoRed);
    text-decoration: none;
}

.toTop {
    text-decoration: none;
}

.nav-links {
    margin-right: 10rem;
}

.nav-option {
    text-decoration: none;
    color: rgb(51, 40, 35);
    font-size: 3rem;
    margin-right: 4rem;
    transition: all .2s;
}

.nav-option:hover {
    color: var(--primoRed);
    transform: translateX(3px);
}


/* 
    HERO 
*/

.hero {
    background-image: url('./images/pizza_hero.jpg');
    background-size: cover;
    background-color:transparent;
    background-attachment: fixed;
    height: 99.5vh;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-size: 6rem;
    color: var(--pale);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/* 
    ABOUT SECTION 
*/

.about {
    border-top: .7rem solid var(--primoRed);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--pale-dark);
}

.label-container {
    padding: .5rem;
    background-color: var(--primoRed);
    border-radius: 0 0 1rem 1rem;
}

.label {
    text-align: center;
    width: 25rem;
    font-size: 3rem;
    color: var(--pale);
    letter-spacing: .4rem;
}

.about-grid {
    display: flex;
    justify-content: space-between;
    margin: 7rem 5vw 10rem 5vw;
    color: var(--notBlack);
}

.about-feature {
    margin: 0 5rem;
    max-width: 25vw; 
}

.about-feature h3 {
    margin-bottom: 1.5rem;
    font-family: 'Concert One', sans-serif;
    font-size: 5rem;
    text-align: center;
    color: var(--primoRed);
}

.about-feature p {
    font-size: 2rem;
    line-height: 3rem;
}


/*
    MENU SECTION
*/

.menu {
    background-color: var(--pale-dark);
    display: flex;
    flex-direction: column;
}

.menu-title {
    background-image: url('./images/pizza_1.jpg');
    background-size: cover;
    background-color:transparent;
    background-attachment: fixed;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Concert One', sans-serif;
    font-size: 8rem;
    color: var(--pale);
    text-align: center;
}

.menu-nav {
    width: 10vw;
    background-color: var(--pale);
    margin: 10rem 3rem;
    padding: 0rem 0;
    border: 2px solid var(--primoRed);
    border-radius: 2rem;
    display:flex;
    flex-direction:column;
    position: -webkit-sticky;
    position: sticky;
    top: 12rem;
    bottom: 10rem;
    right: 3rem;
    overflow: hidden;
    z-index: 1;
}

.menu-filter {
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    color: var(--primoRed);
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
}

.selected {
    color: var(--pale);
    background-color: var(--primoRed);
}


.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw 0 10vw;
    margin-top: 5rem;
}

.pizzas {
    margin-top: -30rem;
}

.menu-section:last-child {
    margin-bottom: 5vh
}


.section-title {
    font-family: 'Concert One', sans-serif;
    font-size: 5rem;
    color: var(--primoRed);
}

.section-subtitle {
    width: 50%;
    font-size: 2rem;
    color: var(--notGray);
    font-style: italic;
    text-align: center;
}

.item-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-item {
    margin: 3rem 5rem;
    flex-grow: 1;
    max-width: 25%;
}

.item-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--notGray);
}

.item-description {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--notBlack);
}


/*
    CONTACT SECTION 
*/

.location {
    height: 30vh;
}

.location-title {
    background-image: url('./images/pizza_neon.jpg');
    background-size: cover;
    background-color:transparent;
    background-attachment: fixed;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Concert One', sans-serif;
    font-size: 8rem;
    color: var(--pale);
    text-align: center;
}

.mapContainer {
    display: flex;
    justify-content: space-around;
    margin: 6rem 15vw;
}

#mapid {
    height: 40vh;
    width: 40vw;
}

.location-details {
    margin: 0 3rem;
    justify-items: flex-start;
}

.detail-chunk {
    margin-bottom: 3rem;
}

.location-heading {
    font-size: 4rem;
    font-family: 'Concert One', sans-serif;
    color: var(--primoRed);
}

.address {
    font-size: 2.5rem;
}


/* MEDIA QUERIES */
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = 1025px to 1280px
  */
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    
    .menu-nav {
        margin: 10rem 3rem;
        align-items: center;
        top: 12rem;
        bottom: 10rem;
        right: 3rem;
        overflow: hidden;
    }
    
    .menu-filter {
        width: 100%;
        border-radius: 0rem;
    }
    
    .menu-section {
        padding: 0 10vw 0 10vw;
    }

    .pizzas {
        margin-top: -30rem;
    }

    .address {
        font-size: 2rem;
    }

  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = 768px to 1024px
  */
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    
 
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    

    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
  
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
 
    
  }